body {
  background-color: rgb(29, 29, 29);
}

.title {
  color: rgb(213, 213, 213);
  font-family: verdana;
  text-align: center;
  font-size: 40px;
  background-color: #2c2c2c;
  height: 60px;
  margin: -8px -40px;
}

.buttons {
 transition: 150ms;
 font-family: verdana;
 font-size: 20px;
 background-color: #7c7c7c;
 padding: 10px 15px;
 border-radius: 5px;
 width: 100px;
 list-style-type: none;
 text-align: center;
 display: inline-block;
 text-align: center;
 margin: auto;
 margin-top: 17px;
 text-decoration: none;
}

.buttons:hover {
 transition: 150ms;
 background-color: #5f5f5f;
}

.centerParent {
  text-align: center;
  list-style-image: none;
}

.centerParent a {
  text-decoration: none;
  color:#000000
}

h1 {
 font-family: verdana;
 color: rgb(213, 213, 213);
}

h3 {
 font-family: verdana;
 color: rgb(213, 213, 213);
}

p {
 font-family: verdana;
 color: rgb(213, 213, 213);
}