body {
  background-color: rgb(29, 29, 29);
}

.update {
  transition: 150ms;
  width: 270px;
  height: 60px;
   background-color: #7c7c7c;
  border-radius: 20px;
  padding: 10px 10px;
 list-style-type: none;
 text-align: center;
 display: inline-block;
 text-align: center;
 margin: auto;
 margin-top: 10px;
 margin-left: 5px;
 margin-right: 5px;
}

.update:hover {
    transition: 150ms;
    background-color: #5f5f5f;
}

.updatelog {
    text-align: center;
  list-style-image: none;
}