.title {
 color: #050047;
 font-family: verdana;
 background-color: #7500db;
 height: 50px;
 width: 900px;
 padding: 10px 15px;
 border-radius: 5px;
 display: inline-block;
 display: block;
 text-align: center;
 margin: auto;
 font-size: 40px;
}

.note1 {
 color: #050047;
 font-family: verdana;
 font-size: 20px;
 height: 120px;
 width: 600px;
 padding: 10px 15px;
 border-radius: 5px;
 display: inline-block;
 display: block;
 margin: auto;
 text-align: center;
}

.mainText {
 color: #050047;
 font-size: 16px;
 font-family: verdana;
}

.hiddenText {
  color: #0e03a1;
}

html {
  background-color: #b787ff;
}

.noli {
  transition: 150ms;
  width: 480px;
  height: 480px;
  border-radius:50%;
  outline: 8px solid  #050047;
  outline-offset: 7px;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.noli:hover {
  transition: 150ms;
  width: 500px;
  height: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.buttons {
 transition: 150ms;
 font-family: verdana;
 font-size: 20px;
 background-color: #6200b7;
 padding: 10px 15px;
 border-radius: 5px;
 width: 100px;
 list-style-type: none;
 text-align: center;
 display: inline-block;
 text-align: center;
 margin: auto;
 margin-top: 10px;
 text-decoration: none;
}

.buttons:hover {
 transition: 150ms;
 padding: 12px 17px;
 background-color: #4c008f;
 margin-top: 0px;
 margin-bottom: 0px;
}

.centerParent {
  text-align: center;
  list-style-image: none;
}

.centerParent a {
  text-decoration: none;
  color:#020024
}